@import "tailwindcss";

/* aqui pueden ir los reset de estilos generales (chequear)*/
body{
    font-family: 'Montserrat';
    background-color: #050505;
    display: flex;
    justify-content: center;
}

html{
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
    html{
        scroll-behavior: auto;
    }
}